numpy==1.25.1
openai==0.27.8
python-dotenv==1.0.0
pyttsx3==2.90
PyAutoGUI~=0.9.54
pandas~=2.0.3
selenium~=4.10.0
gTTS~=2.3.2
chatgpt~=2.2212.0
requests~=2.31.0
playsound~=1.2.2
toml~=0.10.2
pywhatkit~=5.4